.feature-details {
  padding: 120px 80px;
}

/* SECTION LAYOUT */
.detail-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 120px;

  scroll-margin-top: 120px;
}

/* ALTERNATE LEFT-RIGHT */
.detail-section.reverse {
  flex-direction: row-reverse;
}

/* TEXT */
.detail-text {
  flex: 1;
}

.detail-text h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #441e77;
}

.detail-text p {
  font-size: 25px;
  color: #1e2229;
  margin-bottom: 10px;
  line-height: 1.6;
}

/* IMAGE */
.detail-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.detail-image img {
  width: 230px;
  border-radius: 30px;
  border: 1px solid rgb(6, 6, 6);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.multi-image {
  display: flex;
  flex-direction: row;   
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.multi-image img {
  width: 200px;
  border-radius: 30px;
  border: 1px solid rgb(6, 6, 6);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .feature-details {
    padding: 80px 20px;
  }

  .detail-section {
    flex-direction: column;
    text-align: center;
  }

  .detail-section.reverse {
    flex-direction: column;
  }

  .detail-image img {
    max-width: 250px;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .feature-details {
    padding: 80px 20px;
  }

  .detail-section {
    flex-direction: column;
    text-align: center;
  }

  .detail-section.reverse {
    flex-direction: column;
  }

  .detail-image img {
    width: 100%;
    max-width: 300px;
  }

  .multi-image {
    flex-direction: column;
  }
}