.landing{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:130px 100px;

  min-height: 100vh;
}

.landing-all{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}

.landing-left{
  max-width:520px;
}

.badge{
  background:#e8eefc;
  padding:8px 16px;
  border-radius:20px;
  width:fit-content;
  margin-bottom:20px;
  color:#6D60F0;
  font-size:14px;
}

.landing h1{
  font-size:60px;
  line-height:1.2;
  margin-bottom:20px;
}

.landing h1 span{
  color:#2810a1;
}

.landing p{
  color:#393838;
  font-size:18px;
  margin-bottom:30px;
}

.landing-buttons{
  display:flex;
  gap:20px;
}

.download{
  background:#6D60F0;
  color:white;
  border:none;
  padding:14px 20px;
  border-radius:10px;
}

.learn{
  background:white;
  border:1px solid #ddd;
  padding:14px 20px;
  border-radius:10px;
}

.landing-right img{
  width:550px;
  border-radius:10px;
}

.learn-move{
  cursor: pointer;
  transition: 0.2s;
}

.learn:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* MOBILE */
@media (max-width: 768px) {
  .landing {
    padding: 120px 20px;
    text-align: center;
  }

  .landing-all {
    flex-direction: column;
  }

  .landing h1 {
    font-size: 36px;
  }

  .landing-buttons {
    justify-content: center;
  }

  .landing-right img {
    width: 100%;
    max-width: 300px;
  }
}