.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 20px;
    background:white;
    opacity : 0.9;
    z-index:1000;
}

.logo{
  display:flex;
  align-items:center;
  gap:15px;
  font-weight:600;
  font-size: 20px;
}

.logo img{
  height:60px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:30px;
}

.nav-links{
    display:flex;
    gap:30px;
    opacity:1;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    opacity:1;
    font-size:16px;
}

.start-btn{
    background:#6D60F0;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    opacity:1;
}