#root {
  margin: 0;
  padding: 0;
}

.main-gradient{
  background: linear-gradient(
    to bottom,
    #d0b9f5 0%,
    #9D9CF0 50%,
    #A667C3 100%
  );
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

